/* Global declaration */
body {
  font-family: 'Lato', serif;
}

#mock-up{
  background-image: url('/aestrea.jpg');
  opacity: 0.8;
  background-size: cover;
}
/* colors */
$white: #fff;
$black: #000;
$gray: #333333;
$skyblue: #0FB5B3;
$gray-text: #878787;
$navbar-text-active: #3a93cc;

.text-center {
  text-align: center;
}
.text-blue {
  color: #3a93cc;
}
.text-light-blue {
  color: #5bc0de;
}

.header {
  padding-top: 82px;
  padding-bottom: 44px;
}

.section-header{
  margin:45px 0px 30px;
}

ul {
  list-style: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: none;
}
 

/*header style */

nav {
  &#navbar-header{
    border-color: transparent;
    background: $white;

  &.navbar-visible {
    top: 0;
  }

  &.navbar-hidden {
    top: -100px;
  }

  &.navbar {
    min-height: 122px;
    transition: linear 0.25s;
  }

    a {
      text-decoration: none;
    }

    .nav-container {
      margin: 0 12px;
      padding-top: 0;
      padding-bottom: 0;
    
      .navbar-header{

        .navbar-brand {
          height: 70px;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 55px;
          margin-left: 27px;
          padding:0;

          a {
            color: none;
            img {
              top: auto;
              margin-top: 35px;
              float: left;

              &.brand-logo-small {
                height: 70px;
              } 
            }

          }

          h4 {
            float: left;
            margin: 48px 23px 0px;
            font-size: 25px;
            color: $gray-text;
            font-weight: 300;
          }
        }

        button {
          margin-top: 20px;
        }

      }/* end of navbar-header */

      .navbar-collapse {
        border-color: transparent;

        .navbar-right {
          margin-top: 48px;
          margin-right: 88px;

          ul {
            &.nav {
              padding-right: 0;
              width: 100%;

              li {
                padding: 25px 0px 0px 0px;
                margin-right: 0px;

                a {
                  display: inline;
                  padding: 0;
                  color: $gray-text;
                  font-size: 20px;
                  letter-spacing: 0px;
                  &:hover{
                    color: $navbar-text-active
                  }
                }
                &:not(:last-child) {
                  margin-right: 12px;
                }
              }
            }
          }
        }
      } 
    }
  }
}/* end of nav */

/* intro style */
#intro {
  height: 614px;
  #cover {
    background-image: url('/img/cover.jpg');
    background-size: cover;
    height: 583px;
    margin-top: 122px;

    .container-content {
      h1 {
        font-weight: bold !important;
        padding-top: 212px;
        font-size: 54px;
        letter-spacing: 4px;
        color: $white;
      }
      h4 {
        padding-top: 2px;
        color: $white;
      }
      .btn {
        margin-top: 52px;
        padding: 12px;
        width: 15%;
      }
    }
  }
}

/* task style */
#task {
  height: 614px;
  .task-container {
    height: 583px;
  }

  .task-content {
    padding-left: 15%;
    padding-right: 15%;
    
    p {
      font-size: 23px;
      line-height: 1.5;
      margin: 0;
      color: $gray-text;
    }
    .row {
      margin: 0 auto;
      margin-top: 61px;
      ul {
        li {         
          list-style: none;
          float: left;
          margin-left: 49px;
          margin-top: 22px;;

          &.diamond {
            margin-right: 43px;
            height: 128px;
            width: 128px;
            background: transparent;
            color: #3a93cc;
            display: block;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            border: 3px solid #3a93cc;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: color .35s linear;
            -moz-transition: color .35s linear;
            -o-transition: color .35s linear;
            transition: color .35s linear;
          }
          &:hover {
            background: #3a93cc;
            color: #fff; 
          }
        }
        .text {
          width: 120px;
          height: 120px;
          font-size: 15px;
          display: table-cell;
          vertical-align: middle;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          text-align: center;
        }
        span {
          font-size: 36px;
        }
      }
    } 
  }
}

