/* Global declaration */
body {
  font-family: 'Lato', serif;
}

#mock-up{
  background-image: url('/aestrea.jpg');
  opacity: 0.8;
  background-size: cover;
}
/* colors */
$white: #fff;
$black: #000;
$gray: #333333;
$skyblue: #0FB5B3;
$navbar-text: #878787;
$navbar-text-active: #3a93cc;

.text-center {
  text-align: center;
}

.section-header{
  margin:45px 0px 30px;
}

ul {
  list-style: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: none;
}
 

/*header style */

nav {
  &#navbar-header{
    border-color: transparent;

  &.navbar-visible {
    top: 0;
  }

  &.navbar-hidden {
    top: -100px;
  }

  &.navbar {
    min-height: 122px;
    transition: linear 0.25s;
  }

    a {
      color: $navbar-text;
      text-decoration: none;
    }

    .nav-container {
      margin: 0 12px;
      padding-top: 0;
      padding-bottom: 0;
    
      .navbar-header{

        .navbar-brand {
          height: 70px;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 55px;
          margin-left:30px;
          padding:0;

          a {

            img {
              top: auto;
              margin-top: 35px;
              float: left;

              &.brand-logo-small {
                height: 70px;
              } 
            }

          }

          h4 {
            float: left;
            margin: 48px 23px 0px;
            font-size: 25px;
          }

        }

        button {
          margin-top: 20px;
        }

      }/* end of navbar-header */

      .navbar-collapse {
        border-color: transparent;

        .navbar-right {
          margin-top:50px;
          margin-right: 95px;

          ul {
            &.nav {
              padding-right: 0;
              width: 100%;

              li {
                padding: 25px 0px 0px 0px;
                margin-right: 0px;

                a {
                  display: inline;
                  padding: 0;
                  color: $navbar-text;
                  font-size: 20px;
                  letter-spacing: 0px;
                }
                &:hover{
                  color: navbar-text-active
                }
                &:not(:last-child) {
                  margin-right: 12px;
                }
              }
            }
          }
        }
      } 
    }
  }
}/* end of nav */

