<div class="about-container">
  <h1 class="header text-center">Something about <span class="text-blue">me</span></h1>
  <h4 class="text-center">Good day, I'm Rens Ramos, a quiet shy type of person. But because of the advice and help of others, I've changed:D</h4>
  <div class="col-md-8">
    <div class="col-md-4">
      <p>The Ginger Grammar Checker helps you write better English and efficiently corrects texts. Based on the context of complete sentences, Ginger Grammar Checker uses patent-pending technology to correct grammar mistakes, spelling mistakes and misused words, with unmatched accuracy.</p>
    </div>

    <div class="col-md-4">
      
    </div>
  </div>
</div>