<div class="about-container">
  <h1 class="header text-center">Something about <span class="text-blue">me</span></h1>
  <h4 class="text-center">Good day, I'm  <span class="text-blue">Rens</span>. I love <span class="text-blue">Designing</span>, for me i find it as my passion. Drinking <span class="text-blue">Coffee</span> as my source of energy rather than food and Playing  <span class="text-blue">Computer Games</span> as my stress reliever.</h4>
  <div class="about-content">
    <div class="col-md-6">
      <p>So here is my logo. You will notice that there is a wing, which signifies my dreams. "Dream high, never be afraid to face challenges, do your best and the most important things is, say your plan God and he will help you." Just trust your own instinct and skills. It will lead you to your success.</p>

      <button class="btn btn-primary">Read More</button>
    </div>

    <div class="col-md-6" align="center">
      <img src="/img/rensdesign.png"/>
    </div>

  </div>
</div>