<div class="contact-container">
  <h1 class="header text-center">Get in <span class="text-blue">touch</span></h1>
  <h4 class="text-center">Something bothering you? You can leave your message here.</h4>
  <div class="row">
    <div class="contact-content">
      <div class="col-md-6">
        <input class="form-control" placeholder="Name"></input>
        <br>
        <input class="form-control" placeholder="Email"></input>
        <br>
        <input class="form-control" placeholder="Subject"></input>
        <br>
      </div>
      <div class="col-md-6">
        <input class="form-control message" placeholder="Message"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
