<div class="likes-container">
  <h1 class="header text-center">Things I <span class="text-blue">like </span>to do</h1>
  <h3 class="text-center">Here are some things that I like to do during my free time.</h3>

  <div class="row">
    {% for likes in site.data.likes limit:3 %}
      <div class="col-md-4">
        <div class="col-md-3">
          <img src="/img/{{ likes.image }}"/>
        </div>
        <div class="col-md-9">
          <h4>{{ likes.name }}</h4>
          <p>{{ likes.description }}</p>
        </div>
      </div>
    {% endfor %}  
  </div>

  <div class="row">
    {% for likes in site.data.likes limit:3 offset:3 %}
      <div class="col-md-4">
        <div class="col-md-3">
          <img src="/img/{{ likes.image }}"/>
        </div>
        <div class="col-md-9">
          <h4>{{ likes.name }}</h4>
          <p>{{ likes.description }}</p>
        </div>
      </div>
    {% endfor %}  
  </div>

</div>

