<div class="task-container">
  <h1 class="header text-center">What <span class="text-blue">you</span> should do</h1>
 
  <div class="task-content">
    <p class="text-center">Basically, this is a <span class="text-blue">PSD to HTML</span> task. We want you to <span class="text-blue">showcase your frontend skills</span> as much as you can. You are tasked to submit a <span class="text-blue">ZIP file</span> containing all the files needed for this one-page website to run. Below are <span class="text-blue">technologies and tools</span> that you may or may not needed. You may also opt to use twitter Bootstrap if you like. Also, feel free to edit the content. By the way the Lato webfont is here: https://www.google.com/fonts/specimen/Lato</p>

    <div class="row">
      <ul class="diamond-grid">
        {% for tools in site.data.task %}
          <li class="diamond">
            <div class="text">
              {{ tools.name }}
            </div>
          </li>
        {% endfor %}  
      </ul>
    </div>  
  </div>
</div>

<!-- -ms-transform: rotate(50deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg); -->